# from file index.md in the real repo: {% comment %} SCHEDULE
# Show the workshop's schedule.
# Small changes to the schedule can be made by modifying the schedule.html found in the _includes folder for your workshop type (swc, lc, or dc). Edit the items and times in the table to match your plans. You may also want to change 'Day 1' and 'Day 2' to be actual dates or days of the week.
# For larger changes, a blank template for a 4-day workshop (useful for online teaching for instance) can be found in _includes/custom-schedule.html. Add the times, and what you will be teaching to this file. You may also want to add rows to the table if you wish to break down the schedule further. To use this custom schedule here, replace the block of code below the Schedule <h2> header below with {% include custom-schedule.html %}. {% endcomment %}
  
<div class="row">
  <div class="col-md-6">
    <h3>Before lunch</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  
        <td>Bring your own tea or coffee - We are helping each other with <a href="https://swcarpentry.github.io/r-novice-gapminder/setup.html">installations and preparations</a> </td></tr>
      <tr> <td>09:00</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">
        Data Structures </a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html"> Exploring Data Frames </a> </td> </tr>
      <tr> <td>10:00</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control flow</a></td> </tr>
      <tr> <td>10:30</td>  
        <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2s </a> and Vectorization</td> </tr>
      <tr> <td>11:45</td>  
        <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions Explained</a> and <a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html"> Writing Data </a> </td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>After lunch</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html">Splitting and Combining Data Frames with plyr</a> and Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>14:00</td>  
        <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Frame Manipulation with tidyr</a> </td> </tr>
      <tr> <td>14:15</td>  
          <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports With knitr and Writing Good Software</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
